{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Serving East Midlands best Bratwurst, Chicken and Burgers. Authentic quality German street food and new freshly homemade
Burgers to takeaway. Order online until late at night.">
<meta name="keywords" content="Bratwurst, brat, bratty, wurst, bockwurst german food, sausage, hotdog, burger, beef,fried chicken, 
wings, thigh, legs, breast, takeaway, order online, fast food, late night food, food for events">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://ecomm-gw.herokuapp.com">
<meta name="robots" content="index, follow">
{% endblock %}
{% block extra_title %}Home{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-6" id="hero-txt">
            <h1 class="py-3">Banging <span class="text-uppercase">BRATWURSTS.</span></h1>
            <h1 class="py-3">Proper <span class="text-uppercase">CHICKEN.</span></h1>
            <h1 class="py-3">And now.......<br><span class="text-uppercase">BURGERS.</span></h1>
            <div class="my-3">
                <h2><a class="btn btn-lg btn-cta" href="{% url 'products' %}" role="button">View Menu</a></h2>
            </div>
        </div>
        <div class="col-6 overflow-hidden">
            <img src="{{ MEDIA_URL }}hero-img.webp" class="hero-img" alt="A delicous looking double cheese burger">
        </div>   
    </div> 
</section>

<section class="container thick-border sm-no-border mt-xl-5">
    <h2 class="text-center my-2">Our Story</h2>
    <p>Get Wurst serves delicious, fresh and authentic Berlin sourced Bratwursts, Chicken and Burgers! Based at the
        top of Fargate, Sheffield all our products are multi-award winning and cooked to order. Use this site to view our menu and order food
        for collection. We can also be booked for private and public events.
    </p>
</section>
{% endblock %}