{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Serving East Midlands best Bratwurst, Chicken and Burgers. Authentic quality German street food and new freshly homemade
Burgers to takeaway. Order online until late at night with vegan (seitan), vegetarian, pork, beef and chicken options.
Real Bratwursts (like a super sausage hotdog) a choice of chicken wings, breast, legs and thigh fried chicken pieces. 
The tastiest, most delicious fast food in the UK. Healthy options available. Currently based in Sheffield city centre.">

<!-- Each page should have a unique description. Page, not site. -->
<!-- Length can be up to 160 characters on desktop, 130 characters on mobile -->
<!-- You can have up to 158 description tags (although generally you won't need more than one per page) -->
<!-- Add a clear call to action, don't duplicate descriptions, include keywords, discounts, or offers if you're selling something -->

<meta name="keywords" content="Bratwurst, brat, bratty, wurst, bockwurst german food, sausage, hotdog, burger, beef,fried chicken, 
wings, thigh, legs, breast, takeaway, order online, fast food, late night food, vegan,
vegetarian, veg, food for events, best in Sheffield">

<!-- These are the keywords that your site can be searched with on Google -->
<!-- Make these single words, relevant to your site, often searched -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- This sets the site up to be responsive, known as a responsive design meta tag. Don't use it if your site isn't responsive! -->
<!-- width makes the page match the screen's width, and initial scale sets the CSS pixels and the device pixels to a 1:1 ratio -->

<link rel="canonical" href="#">
<!-- This tells search engines to use this URL as the main page, and that it shouldn't index other pages -->
<!-- So if you have a site with multiple URLs, they're treated as seperate sites. This messes with the SEO, so putting this in
    with the correct link gives you better results, and more accuracy with data tracking -->

<meta name="robots" content="index, follow">
<!-- This tells search engines to index and follow this webpage. This is good for site crawlers like Google and Bing -->
<!-- noindex, nofollow is the opposite -->
<!-- Set it to noindex, nofollow for 'thin' pages (pages that don't have much information), where you don't want Google or
    Bing to judge your site based on that content -->

<!-- <title>SITE TITLE</title> -->
<!-- This is what will display in the tab at the top of a user's browser window -->
<!-- Title should be less than 60 characters -->
<!-- Unique title on every page, don't repeat yourself -->
<!-- Use words to indicate site function, use keywords with 4+ words, this should be your main keyword -->
<!-- Title can be changed to get the user's attention! 'Please come back, we miss you!', 'You have a new notification!' -->

<!-- Social media integration, for when people share your content -->
<!-- Facebook, LinkedIn, Google -->
<meta property="og:type" content="article">
<meta property="og:title" content="TITLE OF YOUR POST OR PAGE"> <!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta property="og:description" content="DESCRIPTION OF PAGE CONTENT">
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
<meta name="image" property="og:image" content="URL TO IMAGE">
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta property="og:image:alt" content="ALT TEXT FOR IMAGE">
<!-- Alt text for above image - an accessibility win -->
<meta property="og:url" content="#"> <!-- Your page's URL -->
<meta property="og:site_name" content="SITE NAME"> <!-- Same as what's inside <title> tag -->
<meta name="author" content="AUTHOR NAME HERE"> <!-- Your name -->
{% endblock %}
{% block extra_title %}Home{% endblock %}
{% block content %}
<section class="container-fluid ps-3 ps-md-5">
    <div class="row">
        <div class="col-6">
            <h1 class="py-3">Banging <span class="secondary-color">BRATWURSTS.</span></h1>
            <h1 class="py-3">Proper <span class="secondary-color">CHICKEN.</span></h1>
            <h1 class="py-3">And now.......<br><span class="secondary-color">BURGERS.</span></h1>
            <div class="my-3">
                <h4>
                    <a class="btn btn-lg btn-cta" href="{% url 'products' %}" role="button">View Menu</a>
                </h4>
            </div>
        </div>
        <div class="col-6 overflow-hidden">
            <img src="{{ MEDIA_URL }}hero-burger.png" class="hero-img" alt="A delicous looking double cheese burger">
        </div>   
    </div> 
</section>

<section class="container">
    <h2 class="text-center">Our Story</h2>
    <p>Get Wurst is run by Paul and Lindsay Melbourne, who spent many a trip to Berlin eating bratwurst on the streets
        in the early hours. Get Wurst was then born in 2015 out of a frustration of not being able to get a proper
        bratwurst in the UK. Well, now you can, dishing up the good stuff at events and festivals across the North, and
        at our new home in Sheffield city centre at the top of Fargate, where you can enjoy some serious German street
        food 7 days a week from lunch till late.</p>
</section>
{% endblock %}