{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Serving East Midlands best Bratwurst, Chicken and Burgers. Authentic quality German street food and new freshly homemade
Burgers to takeaway. Order online until late at night with vegan (seitan), vegetarian, pork, beef and chicken options.
Real Bratwursts (like a super sausage hotdog) a choice of chicken wings, breast, legs and thigh fried chicken pieces. 
The tastiest, most delicious fast food in the UK. Healthy options available. Currently based in Sheffield city centre.">
<meta name="keywords" content="Bratwurst, brat, bratty, wurst, bockwurst german food, sausage, hotdog, burger, beef,fried chicken, 
wings, thigh, legs, breast, takeaway, order online, fast food, late night food, vegan,
vegetarian, veg, food for events, best in Sheffield">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://ecomm-gw.herokuapp.com">
<meta name="robots" content="index, follow">
<!-- <title>SITE TITLE</title> -->


{% endblock %}
{% block extra_title %}Home{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-6" id="hero-txt">
            <h1 class="py-3">Banging <span class="text-uppercase">BRATWURSTS.</span></h1>
            <h1 class="py-3">Proper <span class="text-uppercase">CHICKEN.</span></h1>
            <h1 class="py-3">And now.......<br><span class="text-uppercase">BURGERS.</span></h1>
            <div class="my-3">
                <a class="btn btn-lg btn-cta" href="{% url 'products' %}" role="button">View Menu</a>
            </div>
        </div>
        <div class="col-6 overflow-hidden">
            <img src="{{ MEDIA_URL }}hero-img.webp" class="hero-img" alt="A delicous looking double cheese burger">
        </div>   
    </div> 
</section>

<section class="container">
    <h2 class="text-center">Our Story</h2>
    <p>Get Wurst is run by Paul and Lindsay Melbourne, who spent many a trip to Berlin eating bratwurst on the streets
        in the early hours. Get Wurst was then born in 2015 out of a frustration of not being able to get a proper
        bratwurst in the UK. Well, now you can, dishing up the good stuff at events and festivals across the North, and
        at our new home in Sheffield city centre at the top of Fargate, where you can enjoy some serious German street
        food 7 days a week from lunch till late.</p>
</section>
{% endblock %}