<!-- {% if product.category|slugify == 'bratwurst' %}
    {% if forloop.first %}
        <h1>Bratwurst</h1>
        <p> BRATTY Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate eligendi deserunt architecto rem dictased voluptates,
                laudantium omnis excepturi exercitationem. Minus necessitatibus vitae explicabo molestiae quis consequatur earum
                placeat.
        </p>
    {% endif %}
{% elif product.category|slugify == 'currywurst' %}
    {% if forloop.first %}
        <h1>Currywurst</h1>
        <p> CURRY Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate eligendi deserunt architecto
            rem dictased voluptates,
            laudantium omnis excepturi exercitationem. Minus necessitatibus vitae explicabo molestiae quis consequatur earum
            placeat.
        </p>
    {% endif %}
{% elif product.category|slugify == 'burger' %} 
    {% if forloop.first %}
        <h1>Currywurst</h1>
        <p> BURGER Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate eligendi deserunt architecto
            rem dictased voluptates,
            laudantium omnis excepturi exercitationem. Minus necessitatibus vitae explicabo molestiae quis consequatur earum
            placeat.
        </p>
    {% endif %}
{% endif %} -->

<div class="col-md-6 col-lg-4 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="image-container">
                <!-- ADD ARIA LABEL -->
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top card-img" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                    <h3 class="card-title menu-hover">{{ product.name }}</h3>
                </a>
            </div>
            <div>
                <p class="card-text">{{ product.short_description }}</p>
            </div>
            <div class="d-grid mb-2">
                <a href="{% url 'products' %}?category={{ product.category }}"
                    class="card-subtitle mb-2 text-muted text-decoration-none">
                    {{ product.category }}
                </a>
                <a href="{% url 'product_detail' product.id %}" class="card-link btn btn-cta" role="button">
                    See More Info
                </a>
                <!-- Button trigger modal -->
                {% if request.user.is_superuser %}
                <hr>
                <div class="card-body">
                    <div class="d-grid gap-2 mb-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#deleteProductModal{{ product.id }}">
                            DELETE
                        </button>
                        <a class="btn btn-primary" href="{% url 'edit_product' product.id %}">
                            EDIT
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal custom-modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1"
                    aria-labelledby="deleteProductModalLabel{{ product.id }}"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteProductModalLabel{{ product.id }}">Modal title
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ product.name }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- closes modal -->
                {% endif %}
                <!-- close superuser-->
            </div>
        </div>
    </div>
</div>

<!-- <script>

    const cardImages = document.querySelectorAll('.card-img');

    cardImages.forEach(img => img.addEventListener('mouseover', (event) => {
        const link = event.target.parentNode.parentNode.parentNode.children[1].children[0];
        link.style.color = 'darkblue';
    }));


    cardImages.forEach(img => img.addEventListener('mouseleave', (event) => {
        const link = event.target.parentNode.parentNode.parentNode.children[1].children[0];
        link.style.color = 'lightblue';
    }));

</script> -->