{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="DESCRIPTION">
<!-- Each page should have a unique description. Page, not site. -->
<!-- Length can be up to 160 characters on desktop, 130 characters on mobile -->
<!-- You can have up to 158 description tags (although generally you won't need more than one per page) -->
<!-- Add a clear call to action, don't duplicate descriptions, include keywords, discounts, or offers if you're selling something -->

<meta name="keywords" content="KEYWORDS">
<!-- These are the keywords that your site can be searched with on Google -->
<!-- Make these single words, relevant to your site, often searched -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- This sets the site up to be responsive, known as a responsive design meta tag. Don't use it if your site isn't responsive! -->
<!-- width makes the page match the screen's width, and initial scale sets the CSS pixels and the device pixels to a 1:1 ratio -->

<link rel="canonical" href="#">
<!-- This tells search engines to use this URL as the main page, and that it shouldn't index other pages -->
<!-- So if you have a site with multiple URLs, they're treated as seperate sites. This messes with the SEO, so putting this in
    with the correct link gives you better results, and more accuracy with data tracking -->

<meta name="robots" content="index, follow">
<!-- This tells search engines to index and follow this webpage. This is good for site crawlers like Google and Bing -->
<!-- noindex, nofollow is the opposite -->
<!-- Set it to noindex, nofollow for 'thin' pages (pages that don't have much information), where you don't want Google or
    Bing to judge your site based on that content -->

<title>SITE TITLE</title>
<!-- This is what will display in the tab at the top of a user's browser window -->
<!-- Title should be less than 60 characters -->
<!-- Unique title on every page, don't repeat yourself -->
<!-- Use words to indicate site function, use keywords with 4+ words, this should be your main keyword -->
<!-- Title can be changed to get the user's attention! 'Please come back, we miss you!', 'You have a new notification!' -->

<!-- Social media integration, for when people share your content -->
<!-- Facebook, LinkedIn, Google -->
<meta property="og:type" content="article">
<meta property="og:title" content="TITLE OF YOUR POST OR PAGE"> <!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta property="og:description" content="DESCRIPTION OF PAGE CONTENT">
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
<meta name="image" property="og:image" content="URL TO IMAGE">
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta property="og:image:alt" content="ALT TEXT FOR IMAGE">
<!-- Alt text for above image - an accessibility win -->
<meta property="og:url" content="#"> <!-- Your page's URL -->
<meta property="og:site_name" content="SITE NAME"> <!-- Same as what's inside <title> tag -->
<meta name="author" content="AUTHOR NAME HERE"> <!-- Your name -->

<!-- Twitter -->
<meta name="twitter:card" content="summary"> <!-- Tells Twitter to expect information for a card -->
<meta name="twitter:title" content="TITLE OF POST OR PAGE"> <!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta name="twitter:description" content="DESCRIPTION OF PAGE CONTENT">
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to -->
<meta name="twitter:image" content="URL TO IMAGE">
<!-- This image must be less than 5MB, and either JPG, PNG, WEBP, or GIF -->
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta name="twitter:image:alt" content="ALT TEXT FOR IMAGE">
<!-- Alt text for above image - an accessibility win -->
<meta name="twitter:site" content="@USERNAME"> <!-- The site's Twitter handle -->
<meta name="twitter:creator" content="@USERNAME"> <!-- Your personal Twitter handle -->
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" 
                id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary rounded-0 text-uppercase 
                    float-right">
                    Update Information
                </button>
            </form>
        </div>
        {% if orders %}
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" 
                                    title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x {{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}