{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="display-4 text-success">FAQ!!!</h1>

<div class="accordion" id="faqAccordion">
    {% for question in questions %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{question.id}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{question.id}}" aria-expanded="true" aria-controls="collapse{{question.id}}">
                {{ question.body }}
            </button>
        </h2>
        <div id="collapse{{question.id}}" class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
            aria-labelledby="heading{{question.id}}" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                {% for answer in question.question_answer.all %}
                {% if answer.status == 1 %}
                <p>{{ answer.body | safe }}</p>
                {% if forloop.last %}
                ADD ANOTHER ANSWER
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <form action="{% url 'answer' question.id %}" method="post">
                {% csrf_token %}
                {{ answer_form | crispy }}
                <input type="submit" value="Submit Answer">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="emailAnswered">
                    <label class="form-check-label" for="emailAnswered">
                        Get email when answered
                    </label>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

<form action="{% url 'question' %}" method="post">
    {% csrf_token %}
    {{ question_form | crispy }}
    <input type="submit" value="Submit Question">
</form>
{% endblock %}