{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="display-4 text-success">FAQ!!!</h1>

<div class="accordion" id="accordionExample">
    {% for question in questions %}
    <h2 class="accordion-header" id="heading{{question.id}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{question.id}}" aria-expanded="true" aria-controls="collapse{{question.id}}">
            {{ question.body }}
        </button>
    </h2>
    <div id="collapse{{question.id}}" class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
        aria-labelledby="heading{{question.id}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if question.question_answer.all %}
            {% for answer in question.question_answer.all %}
            <p>{{ answer.body }}</p>
            {% endfor %}
            {% else %}
            ADD ANSWER FORM
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


<!-- <form action="" method="post">
    {% csrf_token %}
    {{ question_form | crispy }}
    <input type="submit" value="Submit Question">
</form> -->






<!-- <div class="accordion" id="accordionExample">
    {% for question in question_list %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                hfgdsghfdsgfdsgfdsgd gfdsgfdgfsd
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                ANSWER
            </div>
        </div>
        {% endfor %} -->
<!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div> -->
<!-- </div> -->
{% endblock %}