/* Allows h-100 and vertical centering */

:root{
  --gw-primary-color: #EFC102;
  --gw-primary-lighter-color: #F0E582;
  --gw-secondary-color: #7BF1A8;
  --gw-dark: #090C08;
  --gw-btn-txt: #709255;

  --gw-cta-btn-main: #FF6F59;
  --gw-cta-btn-dark: #D64C3A;
  --gw--cta-btn-darker: #AE261D;
  --gw-cta-btn-darkest: #860000;
  
  --gw-btn-main: #9DD9D2;
  --gw-btn-dark: #71ABA5;
  --gw-btn-darker: #46807A;
  --gw-btn-darkest: #1A5751;

  --gw-link: #7EB2DD;
  --gw-link-visited: #2F6990;
  --gw-link-hover: #578DB6;
}

.thin-border {
  border: 3px solid var(--gw-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Paytone One', sans-serif;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  background-color: var(--gw-primary-lighter-color);
}

.accordion {
  --bs-accordion-border-color: var(--gw-dark);
}

.accordion-item {
  border-radius: 0 !important;
}

.btn {
  --bs-btn-border-radius: 0;
  --bs-btn-border-color: var(--gw-dark);
}

.btn-cta {
  --bs-btn-color: var(--gw-dark);
  --bs-btn-bg: var(--gw-cta-btn-main);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gw-cta-btn-dark);
  --bs-btn-hover-border-color: var(--gw-cta-btn-darker);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gw-cta-btn-darker);
  --bs-btn-active-border-color: var(--gw-cta-btn-darkest);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gw-cta-btn-main);
  --bs-btn-disabled-border-color: var(--gw-cta-btn-main);
}

.btn-primary {
  --bs-btn-color: var(--gw-dark);
  --bs-btn-bg: var(--gw-btn-main);
  --bs-btn-border-color: var(--gw-dark);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gw-btn-dark);
  --bs-btn-hover-border-color: var(--gw-btn-darker);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gw-btn-darker);
  --bs-btn-active-border-color: var(--gw-btn-darkest);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gw-btn-main);
  --bs-btn-disabled-border-color: var(--gw-btn-main);
}


.form-control {
  color: var(--gw-dark);
  border: 3px solid var(--gw-dark);
  border-radius: 0;
}

.form-comtrol-pend {
  background-color: var(--gw-primary-lighter-color);
  border: 3px solid var(--gw-dark);
}

.form-check-input[type=checkbox] {
  border: 3px solid var(--gw-dark);
}

/* WHT NEEDED?? WHY DIFFERENTLY STYLED TO SIGN IN FORM??????z */
#signup_form p input {
  border: 3px solid var(--gw-dark);
  width: 100%;
  height: 42px;
}

/* form input {
  border: 3px solid var(--gw-dark);
  width: 100%
} */

.card {
  --bs-card-border-color: var(--gw-dark);
  --bs-card-border-width: 5px;
  --bs-card-border-radius: 0;
}

.card-img {
  border-radius: 0;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
}

/* links */

a:link {
    color: var(--gw-link);
}

a:visited {
  color: var(--gw-link-visited);
}

a:hover {
    color:var(--gw-link-hover);
}

a.nav-link {
  color:var(--gw-dark)
}
#footer {
  background-color: var(--gw-primary-color);
}

.navbar {
  background-color: var(--gw-primary-color);
}

.nav-link a {
  color: var(--gw-dark);
}

#footer a {
  color: var(--gw-dark);
}


*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #23BBBB;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

body {
    /* background-color: blue; */
    font-family: 'PT Sans', sans-serif;
    /* font-size: 5em; */
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.hero {
  height: 60vh
}
.hero-img {
  height:60vh;
  transform: translateX(-25%);
}

.thick-border {
  border: 5px solid var(--gw-dark);
}
