 <nav class="navbar navbar-expand mb-5">
     <div class="container-fluid">
         <div class="collapse navbar-collapse" id="catNavContent">
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0 w-100 
                        justify-content-center flex-wrap">
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=Bratwurst">Bratwurst</a>
                    <!-- <a class="nav-link" href="/menu/#bratwursts">Bratwurst</a> -->
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'products' %}?category=Chicken">Chicken</a>
                     <!-- <a class="nav-link" href="/menu/#currywursts">Currywurst</a> -->
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'products' %}?category=Burger">Burgers</a>
                     <!-- <a class="nav-link" href="/menu/#burgers">Burgers</a> -->
                 </li>
                 <li>
                     <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
                         <input class="form-control rounded-0" type="search" placeholder="Search"
                             aria-label="Search" name="q">
                         <button class="btn btn-primary border border-dark border-3 border-start-0"
                             type="submit">Search</button>
                     </form>
                 </li>
             </ul>
         </div>
     </div>
 </nav>


 