 <nav class="navbar navbar-expand mb-5">
     <div class="container-fluid">
         <div class="collapse navbar-collapse" id="catNavContent">
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0 w-100 
                        justify-content-center flex-wrap">
                {% with url_path=request.get_full_path %}
                 <li class="nav-item">
                    <a class="nav-link {% if url_path == '/menu/?category=bratwurst' %}active{% endif %}"
                        href="{% url 'products' %}?category=bratwurst">Bratwurst</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link {% if url_path == '/menu/?category=chicken' %}active{% endif %}"
                         href="{% url 'products' %}?category=chicken">Chicken</a>
                 </li>
                 <li class="nav-item me-2">
                     <a class="nav-link {% if url_path == '/menu/?category=burger' %}active{% endif %}"
                         href="{% url 'products' %}?category=burger">Burgers</a>
                 </li>
                 <li>
                     <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
                         <input class="form-control rounded-0" type="search" placeholder="Search"
                             aria-label="Search" name="q">
                         <button class="btn btn-primary border border-dark border-3 border-start-0"
                             type="submit">Search</button>
                     </form>
                 </li>
                {% endwith %}
             </ul>
         </div>
     </div>
 </nav>


 