 <nav class="navbar navbar-expand-lg w-100 px-2">
         <a class="navbar-brand" href="{% url 'home' %}">
             <img id="nav-logo" src="{{ MEDIA_URL }}logo.webp"
                 alt="Black outline of a Bratwurst with Get Wurst written on top to look like the text was done using a squirty bottle of sauce">
         </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavContent"
             aria-controls="mainNavContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="mainNavContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 text-center">
                 {% if user.is_superuser %}
                 {% with url_name=request.resolver_match.url_name %}
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle {% if url_name == 'add_product' %}active{% endif %}" href="#"
                         id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa-solid fa-clipboard-list"></i>
                         Product Management
                     </a>
                    
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <li>
                             <a class="dropdown-item text-center  " href="{% url 'products' %}">Update or Delete
                                 Product</a>
                         </li>
                         <li>
                             <a class="dropdown-item text-center" href="{% url 'add_product' %}">Add Product</a>
                         </li>
                     </ul>
                 </li>
                 {% endwith %}
                 {% endif %}
                 
                 {% if user.is_authenticated %}
                 {% with url_name=request.resolver_match.url_name %}
                 
                 <li class="nav-item order-lg-1 ms-lg-auto">
                     <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}"
                         href="{% url 'account_logout' %}">Sign Out</a>
                 </li>
                 {% endwith %}

                 {% else %}
                 {% with url_name=request.resolver_match.url_name %}
                 <li class="nav-item order-lg-1 ms-lg-auto">
                     <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}"
                         href="{% url 'account_signup' %}">Sign Up</a>
                 </li>
                 
                 <li class="nav-item order-lg-2">
                     <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}"
                         href="{% url 'account_login' %}">Login</a>
                 </li>
                 {% endwith %}

                 {% endif %}
                 {% with url_name=request.resolver_match.url_name %}  
                 
                 <li class="nav-item">
                     <a class="nav-link {% if url_name == 'products' %}active{% endif %}"
                         href="{% url 'products' %}">
                         <i class="fa-solid fa-book-open"></i>
                         Menu                      
                     </a>
                 </li>
                 
                 <li class="nav-item">
                     <a class="nav-link {% if url_name == 'faq' %}active{% endif %}" href="{% url 'faq' %}">
                         <i class="fa-solid fa-circle-question"></i>
                         <abbr title="Frequently Asked Questions">FAQs</abbr>
                         
                     </a>
                 </li>
                 
                  <li class="nav-item">
                      <a class="nav-link {% if url_name == 'events_all' %}active{% endif %}" href="{% url 'events_all' %}">
                        <i class="fa-solid fa-cake-candles"></i>
                        Events
                      </a>
                  </li>
                  
                 <li class="nav-item list-inline-item">
                     <a class="nav-link {% if url_name == 'view_cart' %}active{% endif %}" href="{% url 'view_cart' %}">
                         <i class="fa-solid fa-basket-shopping"></i>
                         Cart
                         {% if total %}
                         £{{ total|floatformat:2 }}
                         {% else %}
                         £0.00
                         {% endif %}
                     </a>
                 </li>
                 {% if user.is_authenticated %}
                 <li class="nav-item">
                     <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">
                         <i class="fa-solid fa-user{% if url_name == 'profile' %}active{% endif %}"></i>
                         My Profile
                     </a>
                 </li>
                 {% endif %}
                 {% endwith %}
             </ul>
         </div>
 </nav>