{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card h-100">
                <div class="card-header">
                    NAME: {{ product.name }}
                </div>
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class=" card-body">
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category: {{ product.category }}</li>
                    <li class="list-group-item">Price: £{{ product.price }}</li>
                </ul>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}