{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}
{% block extra_meta %}
<meta name="description" content="Check out our authentic Bratwursts, award winning Chicken
and homemade Burgers. ">
<meta name="keywords" content="Menu, Bratwurst, Chicken Wings, Chicken Pieces, Tommy, Say Cheese,
Special Brat, Double Pig, Bacon, Satay Wings, Honey Wings, Hot Wings, Fried, Bacon Cheese,
Double Cheese, Super Special, Hamburger">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://www.ecomm-gw.herokuapp.com/menu">
<meta name="robots" content="index, follow">
{% endblock %}
{% block extra_title %}Menu{% endblock %}

{% block content %}
<div class="container">
    <h1>Menu</h1>
    <p>Take a look at our menu below. Everything's been chosen for its quality and freshness.
        We are extremely proud of the food we serve and believe that you will agree
        that we offer the very best street food in the East Midlands.
    </p>
        {% if current_categories|length == 0 %}
        <h2 id="bratwurst">Bratwurst</h2>
        <p>All our Bratwursts are genuine German top quality products. Think of a supercharged
            hotdog with the tastiest, thickest sausage in a perfect brioche bun.
        </p>
        {% endif %}
        {% for category in current_categories %}
        {% if category|lower == 'bratwurst' %}
            <h2 id="bratwurst">Bratwurst</h2>
            <p>All our Bratwursts are genuine German top quality products. Think of a supercharged
                hotdog with the tastiest, thickest sausage in a perfect brioche bun.</p>
        {% endif %}
        {% endfor %}

    <div class="row">
        {% for product in products %}
            {% if product.category|slugify == 'bratwurst' %}
                {% include 'products/includes/menu-card.html' %}
            {% endif %}
        {% endfor %} 
    </div> 

    {% if current_categories|length == 0 %}
         <h2 id="chicken">Chicken</h2>
         <p>We only use free range organic chicken sourced from local family run farms. These happy
            chickens not only taste better but are free from any artificial additives.</p>
    {% endif %}
    {% for category in current_categories %}
    {% if category|lower == 'chicken' %}
    <h2 id="chicken">Chicken</h2>
    <p>We only use free range organic chicken sourced from local family run farms. These happy
        chickens not only taste better but are free from any artificial additives.</p>
     {% endif %}
     {% endfor %}
    <div class="row">
        {% for product in products %}
            {% if product.category|slugify == 'chicken' %}
                {% include 'products/includes/menu-card.html' %}
            {% endif %}
        {% endfor %}
    </div>

    {% if current_categories|length == 0 %}
    <h2 id="burgers">Burgers</h2>
    <p>100% British grass-fed free range beef. Our award winning cows are slowly reared until
        they naturally reach maturity and develop an incredibly rounded flavour.</p>
    {% endif %}
    {% for category in current_categories %}
    {% if category|lower == 'burger' %}
    <h2 id="burgers">Burgers</h2>
    <p>BURGERS INFO BURGERS INFO BURGERS INFO BURGERS INFO BURGERS INFO BURGERS INFO BURGERS INFO BURGERS INFO</p>
    {% endif %}
    {% endfor %}
    
    <div class="row">
        {% for product in products %}
            {% if product.category|slugify == 'burger' %}
                {% include 'products/includes/menu-card.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %} 
{% block postloadjs %} 

{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %} 
{% endblock %} 